
{{#each this}}
  <div class="card m-5" style="width: 18rem;">
    <img src="{{poster}}" class="card-img-top" alt={{title}} />
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{releaseYear}}</p> 
      <p class="card-text">{{director}}</p>
      <a href="#" class="btn btn-primary">nominate</a>
    </div>
  </div> 
  {{/each}}