
<!--PROFILE PAGE BEGINS-->
<!-- Render the profile.handlebars -->

{{{user-header}}} <!-- This is the user-header.handlebars partial -->

<div id="user-profile" class="container is-size-5">
    <h1 class="is-size-3">My Profile</h1>
    <div class="profile">
    <!--in handlebars, replace with:
                    <h2 class="is-size-2 my-4"><img src="/public/images/{{user_avatar}}" alt="Avatar" class="avatar inline-image"> Hi, {{user_name}}</h2> -->
        <h2 class="is-size-2 my-4"><img src="/public/images/pac-success.png" alt="Avatar" class="avatar inline-image"> Hi, MovieManiac77</h2>

        <div class="bg-danger-alpha p-3">
            <p>Name:&emsp;{{name_first}} {{name_last}}</p>
            <p>Email:&emsp;{{email}}</p>
            <p>Hailing from:&emsp;{{state}}</p>
            <hr />
            <p>My favorite movie genres:&emsp;{{favorite_genres}}</p>
            <p>My favorite movies:&emsp;{{favorite_movies}}</p>
            <p>About me:&emsp;{{about_me}}</p>
        </div>


        <hr />

        <div id="user-nominations" class="bg-success-alpha p-3">
                <h2 class="is-size-4 mb-4">Movies I have nominated:</h2>
                <ul>
                  {{#each user.Nominations}}
                    <li>{{this.title}}</li>
                  {{/each}}
                </ul>
            </div>

            <hr />

            <div id="user-votes" class="bg-warning-alpha p-3">
                <h2 class="is-size-4 mb-4">Movies I have voted for:</h2>
                <ul>
                  {{#each user.UserMovieVote}}
                    <li>{{this.title}}</li>
                  {{/each}}
                </ul>
    </div>
</div>

<!--end profile.handlebars ************************* -->

        </main>
</body>
